<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="11.0.4" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.7" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.3.2" targetFramework="net461" developmentDependency="true" />
  <package id="Nancy" version="1.4.4" targetFramework="net452" />
  <package id="Nancy.Hosting.Aspnet" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Serialization.JsonNet" version="1.4.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
</packages>